<form>
    <mat-card>
        <mat-card-header>
            <mat-card-title> login: </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="your email">
            </mat-form-field>
            <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="your password">
            </mat-form-field>
            <button mat-raised-button type="button">login</button>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <p>dont have accont? <a href="">sign up</a> </p>
            <p>forget the password?  <a href="">recover</a> </p>
    
        </mat-card-actions>
    
    </mat-card>
</form>